<h1>Share A New Adventure</h1>
<%= form_for @post do |f| %>
<%= f.label :title %>
<div><%= f.text_field :title %></div>
<br>
<%= f.label :content %>
<div><%= f.text_area :content %></div>
<br>
<%= f.submit %>
<% end %>