<!DOCTYPE html>
<html>
  <head>
    <title>Girlmeetstravel</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<div class ="topnav">
<a href="/">Home</a></li>

<a href="/users/new">Sign Up</a></li>
<a href="/signin">Sign In</a></li>
<%= link_to "Log Out", session_path("current"), method: "delete" %></li> 

</div>


    <%= yield %>
  </body>
</html>
